body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: url('login-bg.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 60px 40px;
    width: 350px;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 35px; 
    border-bottom: 2px solid #fff;
  }

  .login-box h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
  }

  .input-box input,
  .input-box select {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
  }

  .input-box select option {
    background-color: #cc6054;
  }

  .input-box label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #fff;
    pointer-events: none;
    transition: 0.3s;
  }

  .input-box input:focus + label,
  .input-box input:not(:placeholder-shown) + label,
  .input-box select:focus + label,
  .input-box select:valid + label {
    top: -12px;
    font-size: 13px;
  }

  .login-btn {
    width: 100%;
    padding: 12px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .thank-you {
    display: none;
    text-align: center;
    color: lightgreen;
    font-weight: bold;
    margin-top: 20px;
  }